<div class="review_extra d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-between">
  <div class="review_tags">
    <span>By: </span>
    <ul>
      <li><a href="#">Admin</a></li>
    </ul>
  </div>
  <div class="review_social ml-lg-auto">
    <span>Share: </span>
    <ul>
      <li>
        <a href="https://www.facebook.com/sharer.php?u={{url}}" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/share?url={{url}}&text={{title}}&hashtags=#collegeoption" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://api.whatsapp.com/send?text={{title}} {{url}}" target="_blank">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/shareArticle?url={{url}}&title={{title}}" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
