.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.exams_btn{
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 1px solid #384158;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 0rem;
}
