<div>


	<div class="home">
		<div class="home_slider_container">
			<div class="home_slider_content">
				<div class="container">
					<div class="row">
						<div class="col text-center">
							<div class="home_slider_title">The Premium System Education</div>
							<div class="home_slider_subtitle">Future Of Education Technology</div>
							<div class="home_slider_form_container">
								<form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
									<div class="d-flex flex-row align-items-center justify-content-start">
										<input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
										<select class="dropdown_item_select home_search_select">
											<option>College</option>
											<option>Exams</option>
											<option>Courses</option>
										</select>
									</div>
									<button type="submit" class="home_search_button">search</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <div class="highlights" style="padding: 20px 0px;">
		<div class="container">
			<div class="row highlights_row">

				<div class="col-lg-3 highlight_col" [routerLink]="['/colleges']" [queryParams]="{topColleges: 'true'}">
					<div class="highlight text-center trans_400">
						<div class="highlight_icon"><img src="../assets/images/icon_1.png" alt=""></div>
						<h3 class="highlight_title">Top Eng. Colleges</h3>
					</div>
				</div>

				<div class="col-lg-3 highlight_col" routerLink="colleges">
					<div class="highlight text-center trans_400">
						<div class="highlight_icon"><img src="../assets/images/icon_2.png" alt=""></div>
						<h3 class="highlight_title">College Reviews</h3>
					</div>
				</div>

				<div class="col-lg-3 highlight_col" routerLink="exams">
					<div class="highlight text-center trans_400">
						<div class="highlight_icon"><img src="../assets/images/icon_3.png" alt=""></div>
						<h3 class="highlight_title">Explore Entrance Exams</h3>
					</div>
				</div>

				<div class="col-lg-3 highlight_col" routerLink="cutoffs">
					<div class="highlight text-center trans_400">
						<div class="highlight_icon"><img src="../assets/images/icon_4.png" alt=""></div>
						<h3 class="highlight_title">Cut Offs</h3>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Our Services</h2>
					</div>
				</div>
			</div>
			<div class="row features_row">

				<div class="col-lg-3 feature_col">
					<div class="feature text-center trans_400">
						<div class="feature_icon"><img src="../assets/images/icon_1.png" alt=""></div>
						<h3 class="feature_title">Mentorship Program</h3>
						<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
					</div>
				</div>

				<div class="col-lg-3 feature_col">
					<div class="feature text-center trans_400">
						<div class="feature_icon"><img src="../assets/images/icon_2.png" alt=""></div>
						<h3 class="feature_title">Doubt Clear Call</h3>
						<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
					</div>
				</div>

				<div class="col-lg-3 feature_col">
					<div class="feature text-center trans_400">
						<div class="feature_icon"><img src="../assets/images/icon_3.png" alt=""></div>
						<h3 class="feature_title">Paid Counselling</h3>
						<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
					</div>
				</div>

				<div class="col-lg-3 feature_col">
					<div class="feature text-center trans_400">
						<div class="feature_icon"><img src="../assets/images/icon_4.png" alt=""></div>
						<h3 class="feature_title">Mock Test</h3>
						<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Popular Reviews -->

	<div class="popular_courses">
		<div class="container">
			<div class="row pb-4">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Popular Colleges</h2>
						<!-- <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div> -->
					</div>
				</div>
			</div>
			<div class="row courses_row">

				<!-- Course -->
				<div class="col-lg-4 course_col">
					<div class="course">
						<div class="course_image"><img src="../assets/images/course_1.jpg" alt=""></div>
						<div class="course_body">
							<h3 class="course_title"><a href="course.html">Software Training</a></h3>
							<div class="course_teacher">Mr. John Taylor</div>
						</div>
						<div class="course_footer">
							<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
								<div class="course_info">
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
									<span>20 Student</span>
								</div>
								<div class="course_info">
									<i class="fa fa-star" aria-hidden="true"></i>
									<span>5 Ratings</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Course -->
				<div class="col-lg-4 course_col">
					<div class="course">
						<div class="course_image"><img src="../assets/images/course_2.jpg" alt=""></div>
						<div class="course_body">
							<h3 class="course_title"><a href="course.html">Developing Mobile Apps</a></h3>
							<div class="course_teacher">Ms. Lucius</div>
						</div>
						<div class="course_footer">
							<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
								<div class="course_info">
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
									<span>20 Student</span>
								</div>
								<div class="course_info">
									<i class="fa fa-star" aria-hidden="true"></i>
									<span>5 Ratings</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Course -->
				<div class="col-lg-4 course_col">
					<div class="course">
						<div class="course_image"><img src="../assets/images/course_3.jpg" alt=""></div>
						<div class="course_body">
							<h3 class="course_title"><a href="course.html">Starting a Startup</a></h3>
							<div class="course_teacher">Mr. Charles</div>
						</div>
						<div class="course_footer">
							<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
								<div class="course_info">
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
									<span>20 Student</span>
								</div>
								<div class="course_info">
									<i class="fa fa-star" aria-hidden="true"></i>
									<span>5 Ratings</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col">
					<div class="courses_button trans_200"><a href="#">view all reviews</a></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Counter -->

	<div class="counter">
		<div class="counter_background" style="background-image:url(../assets/images/counter_background.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="counter_content">
            <div class="section_title_container text-center">
              <h2 class="section_title" style="color:#ffffff; padding-bottom: 20px;">Latest News</h2>
            </div>
            <div class="news_posts_small" *ngFor="let news of articles">
              <div class="news_post_small" *ngIf="news.category === 'news'">
                <div class="news_post_small_title"><a href="">{{news.title}}</a></div>
                <div class="news_post_meta">
                  <ul style="padding-left: 0px; padding-bottom: 20px;">
                    <li><a href="#">{{news.createdAt|date}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
					</div>

				</div>
			</div>

			<div class="counter_form">
				<div class="row fill_height">
					<div class="col fill_height">
						<form class="counter_form_content d-flex flex-column align-items-center justify-content-center" action="#">
              <div class="counter_form_title">Get Updates</div>
							<input type="text" class="counter_input" placeholder="Your Name:" required="required">
							<input type="tel" class="counter_input" placeholder="Phone:" required="required">
							<select name="counter_select" id="counter_select" class="counter_input counter_options">
								<option>Choose Subject</option>
								<option>Subject</option>
								<option>Subject</option>
								<option>Subject</option>
							</select>
							<textarea class="counter_input counter_text_input" placeholder="Message:" required="required"></textarea>
							<button type="submit" class="counter_form_button">submit now</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>


  <div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Blogs</h2>
						<div class="section_subtitle"><p>Get study tips, practice, faq, motivation etc</p></div>
					</div>
				</div>
			</div>
			<div class="row events_row">
				<div class="col-lg-4 event_col" *ngFor="let blog of articles">
					<div class="event event_left">
						<div class="event_image"><img [src]="blog.featured_image" alt=""></div>
						<div class="event_body d-flex flex-row align-items-start justify-content-start">
							<div class="event_date">
								<div class="d-flex flex-column align-items-center justify-content-center trans_200">
									<div class="event_day trans_200">{{blog.createdAt | date:'dd'}}</div>
									<div class="event_month trans_200">{{blog.createdAt | date:'MMM'}}</div>
								</div>
							</div>
							<div class="event_content">
								<div class="event_title"><a href="#">{{blog.title}}</a></div>
								<div class="event_info_container">
									<!-- <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>15.00 - 19.30</span></div>
									<div class="event_info"><i class="fa fa-map-marker" aria-hidden="true"></i><span>25 New York City</span></div> -->
									<div class="event_text">
										<p>Policy analysts generally agree on a need for reform, but not on which path...</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


</div>
