<section id="reviews">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar">
          <div>
            <h4 class="filter-title">City</h4>
            <ul class="filter">
              <li *ngFor="let city of cities">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="{{city}}" id="{{city}}"
                  (click)="addFilter($event.target.value)"
                  >
                  <label class="form-check-label" for="{{city}}" >
                   {{city}}
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <div>
            <h4 class="filter-title">State</h4>
            <ul class="filter">
              <li *ngFor="let state of states">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="{{state}}" id="{{state}}"
                  (click)="addFilter($event.target.value)">
                  <label class="form-check-label" for="{{state}}">
                   {{state}}
                  </label>
                </div>
              </li>
            </ul>
          </div>

          <div>
            <h4 class="filter-title">Type</h4>
            <ul class="filter">
              <li *ngFor="let type of types">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="{{type}}" id="{{type}}"
                  (click)="addFilter($event.target.value)">
                  <label class="form-check-label" for="{{type}}">
                   {{type}}
                  </label>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="col-lg-9">
        <div class="row" *ngIf="isloading">
          <div class="col-lg-4" *ngFor="let row of [1,2,3,4,5,6]">
            <ngx-skeleton-loader
            animation="progress"
              [theme]="{
                'border-radius': '2px',
                height: '200px',
                'background-color': '#fffff',
                border: '1px solid white'
              }"
            ></ngx-skeleton-loader>
          </div>
        </div>
        <div class="reviews_container" *ngIf="!isloading">
          <div class="row reviews_row">
            <!-- review -->
            <div class="col-lg-4 review_col" *ngFor="let d of data">
              <a routerLink="/college/{{d.slug}}">
                <div class="review">
                  <div class="review_image"><img [src]="d.featured_image" alt=""></div>
                  <div class="review_body">
                    <h3 class="review_title"><a routerLink="/college/{{d.slug}}">{{d.college_name}}</a></h3>
                    <!-- <div class="review_subtitle" [innerHtml]="d.college_contact|safeHtml" ></div> -->
                  </div>
                  <div class="review_footer">
                    <div class="review_footer_content d-flex flex-row align-items-center justify-content-center">
                      <div class="review_info">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <span>20 Student</span>
                      </div>
                      <div class="review_info">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <span>5 Ratings</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</section>
