<section id="reviews">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar">

          <div class="sidebar_section">
            <div class="sidebar_section_title">Categories</div>
            <div class="sidebar_categories">
              <ul>
                <li><a href="#">Art & Design</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">IT & Software</a></li>
                <li><a href="#">Languages</a></li>
                <li><a href="#">Programming</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-9">
        <div class="reviews_container">
          <div class="row reviews_row">
            <!-- review -->
            <div class="col-lg-4 review_col" *ngFor="let d of data">
              <div class="review">
                <div class="review_image"><img src="assets/images/course_4.jpg" alt=""></div>
                <div class="review_body">
                  <h3 class="review_title"><a href="review.html">{{d.name}}</a></h3>
                  <div class="review_subtitle">Mr. John Taylor</div>
                </div>
                <div class="review_footer">
                  <div class="review_footer_content d-flex flex-row align-items-center justify-content-center">
                    <div class="review_info">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      <span>20 Student</span>
                    </div>
                    <div class="review_info">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>5 Ratings</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</section>
